input[type=text].invalid:not(.browser-default){
     border-bottom: 1px solid #ffffff; 
    box-shadow: 0 1px 0 0 #ffffff; 
}

.tin_check{
    cursor: pointer !important;
}

@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 16%;
    }

    .heading_available{
        margin-top: 50px;
        font-size: 30px;
    }

    .content_available{
        font-size: 20px;
    }
    input#tin.validate {
        border-color: #FFFFFF !important;
        font-size: 10px;
    }

    .tin_label{
        font-size: 15px;
        margin-right: 10px;
    }

    .tin_check{
        font-size: 20px !important;
    }

    input[type=text]:not(.browser-default){
        height:  0.7rem !important;
        
    }

    #nextButton{
        font-size: 10px;
    }
    .btn{
        padding: 0 1rem !important;
    }

 


    
  
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 16%;
    }

    .heading_available{
        margin-top: 50px;
        font-size: 30px;
    }

    .content_available{
        font-size: 20px;
    }
    input#tin.validate {
        border-color: #FFFFFF !important;
        font-size: 10px;
    }

    .tin_label{
        font-size: 15px;
        margin-right: 10px;
    }

    .tin_check{
        font-size: 20px !important;
    }

    input[type=text]:not(.browser-default){
        height:  0.7rem !important;
        
    }

 

  


}