
<body class="otp_bkg">
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
        <div class="heading_available">
            <p>We've found a TIN!</p>
        </div>
        <div class="content_available">
          <p>Is this yours?</p>
          <div class="tin center">
              <div class="row center">
                  <div class="col s4 tin_label center">TIN:</div>
                  <div class="col s5 tin_input"><input id="tin" type="text" value="{{tin}}" class="validate" readonly></div>
                  <div class="col s3 tin_check"><a (click)="correct()"><i class="material-icons tin_check">check</i></a></div>
              </div>
          </div>
        </div>    
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container_question">
                <a class="waves-effect waves-light btn transparent left" id="prevButton" (click)="back()" >PREVIOUS</a>
                <a class="waves-effect waves-light btn transparent right" id="nextButton" href="/user-validation">Nope, not mine</a> 
            </div>
        </div>
</footer>

</body>       