table#sap tr,td{
    padding: 0px;
    border: none;

}
table#sap{
    margin: 10px; 
    width: 100%;
}

.accverify{
    cursor: pointer !important;
}

table#accData{
    width: 60% !important;
    margin-left: 10% !important;
}
.acctext{
    font-size: 24px !important;
    height: 21px !important;  
}
.account_label{
    width: 55%; 
    text-align: right;
    padding-bottom: 1% !important;
}


@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 13%;
    }

    .account_label{
        font-size: 8px;
    }

    .heading_login{
        margin-top: 180px;
        font-size: 25px;
    }

    .search_account{
        font-size: 18px !important;
    }

    .content_login {
        font-size: 20px;
    }
    input:not([type]){
        font-size: 10px;
    }
    .account_label{
        font-size: 10px !important;
    }
    .acctext{
        font-size: 10px !important;
        height: 17px !important;  
    }    


   
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 13%;
    }
    .account_label{
        font-size: 8px;
    }
    .heading_login{
        margin-top: 70px;
        font-size: 25px;
    }
    .search_account{
        font-size: 18px !important;
    }

    .content_login {
        font-size: 20px;
    }

    input:not([type]){
        font-size: 10px;
    }
    .acctext{
        font-size: 9px !important;
        height: 17px !important;  
    }


    
}    

