<body class="login_bkg"> 
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
        <a href="/welcome"><i class="material-icons back_arrow">chevron_left</i></a>
        <div class="heading_login">
            <p>Login</p>
        </div>
        <div class="content_login">
            <div class="center">
                <p>Enter your Account Number</p>
                <table id="accData" align="center">
                        <tr>
                         
                                <td class="account_label" >Account Number:&nbsp;</td>
                                <td style="width: 45%;" class="account_input"><input id="email_inline" type="text"  class="validate acctext" mask="00 0000 000 0000"  [(ngModel)]="formInfo.accountNumber" (keyup)="verify()"></td>
                                <td style="width: 7%;">
                                    <a class="accverify"  (click)="verify()" *ngIf="!loading"><i class="material-icons search_account" >search</i></a>
                                    <div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loading">
                                            <div class="preloader-wrapper small active">
                                                <div class="spinner-layer spinner-stanbic-only">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="gap-patch">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </tr>

                </table>
                <!-- <div class="row">
                  <div class="col s6 offset-s3">
                      <table id="sap">
                          <tr>
                         
                              <td class="account_label" style="width: 38%;">Account Number:</td>
                              <td style="width: 55%;"><input id="email_inline" type="text"  class="validate" mask="00 0000 000 0000"  [(ngModel)]="formInfo.accountNumber" (keyup)="verify()"  style="font-size: 22px;" ></td>
                              <td style="width: 7%;">
                                  <a class="accverify"  (click)="verify()" *ngIf="!loading"><i class="material-icons search_account" >search</i></a>
                                  <div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loading">
                                          <div class="preloader-wrapper small active">
                                              <div class="spinner-layer spinner-stanbic-only">
                                                  <div class="circle-clipper left">
                                                      <div class="circle"></div>
                                                  </div>
                                                  <div class="gap-patch">
                                                      <div class="circle"></div>
                                                  </div>
                                                  <div class="circle-clipper right">
                                                      <div class="circle"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                              </td>
                          </tr>
                          
                      </table> 
                  </div> -->
                <!-- </div> -->
            
            </div>
         
            
        </div>
    </main>
</body>      