<body class="welcome_bkg">
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
        <div class="content_otp center">
            <p class="h1">Enter your One-Time Password</p>
            <p class="h2">sent to</p>
            <p class="h3">{{showphone}}</p>
            <br>

            <div class="center">
                <form id="partitioned">
                    <input type="text" class="inputs" name="c1" [(ngModel)]="formData.c1" (keyup)="checkData()" maxlength="1" />
                    <input type="text" class="inputs" name="c2" [(ngModel)]="formData.c2" (keyup)="checkData()" maxlength="1" />
                    <input type="text" class="inputs" name="c3" [(ngModel)]="formData.c3" (keyup)="checkData()" maxlength="1" />
                    <input type="text" class="inputs" name="c4" [(ngModel)]="formData.c4" (keyup)="checkData()" maxlength="1" />
                    <input type="text" class="inputs" name="c5" [(ngModel)]="formData.c5" (keyup)="checkData()" maxlength="1" />
                </form>
            </div>

            <div class="resendOTP">
                <a class="h4">Resend OTP</a>
                <div id="mycounter"></div>
                <p><a class="now" (click)="resend()">Resend OTP</a></p>

            </div>

            <div class="col s12 center-align loading" style="margin-top: 10px !important;">

                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-stanbic-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
     
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <a href="/account-verification" id="prev" (click)="back()" class="waves-effect waves-light btn transparent">Previous</a>
            </div>
        </div>
    </footer>
    
</body>     