.now{
    color: #ffffff; 
    line-height: 1;
    font-family: "Roboto Medium";
    text-decoration: none;
    cursor: pointer !important;
} 

/* .prev{
    margin-bottom: 15%;  
    border: 2px solid #ffffff;
    background: transparent;
    padding: 3%;
    border-radius: 7px;
    margin-left: 5%;
    color: #ffffff;
} */

#prev {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}


@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 13%;
    }

    .h1{
        font-size: 20px;
        margin-top: 40% !important;
    }

    form#partitioned input[type=text]{
        height: 25px;
        width: 20px;
    }
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 13%;
    }
    .h1{
        
        font-size: 20px;
    }

    form#partitioned input[type=text]{
        height: 25px;
        width: 20px;
    }
    
}