@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 16%;
    }

    .smiley_congratulations{
        width: 100px;
        margin-top: 30px; 
    }
    #msg{
        font-size: 30px;
        line-height: 30px;
 
    }

    #hashtag{
        font-size: 20px;
    }


    
  
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 16%;
    }

    .smiley_congratulations{
        width: 100px;
        margin-top: 30px; 
    }
    #msg{
        font-size: 25x;
        line-height: 30px;
 
    }
    #hashtag{
        font-size: 20px;
    }

  


}