<body class="login_bkg">
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
    
        <div class="heading_login">
            
        </div>
        <div class="content_result">
            <div class="center">
            <img class="smiley_congratulations center" src="assets/icons/Smiley_try_again.png" />
                <h4 id="msg">Ooops..</h4>
                <p id="msg_result">Your TIN could not be updated.</p>
                
    
            </div>
            
         
            
        </div>
    
        
    </main>
    
    <footer class="page-footer">
            <div class="container">
            </div>
            <div class="footer-copyright">
                <div class="container_question">
                    <a class="waves-effect waves-light btn transparent right " id="nextButton_blue" (click)="continue()">Try Again</a> 
                    <!-- <a class="right" href="/basics">NEXT</a> -->
                </div>
                <span class="left " id="hashtag" href="/welcome">#BeDigital</span> 
            </div>
    </footer>
