@import url("roboto/roboto.css");


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

  #footer p {
    /* padding-top: 20% !important; */
    bottom: 4%;
    position: fixed;
    right: 2%;
    color: #ffffff;
}

.page-footer{
    background-color: transparent !important;
} 

.page-footer a{
    color: #ffffff;  
}

.footer-copyright{
    background-color: transparent !important;
}  



/* Welcome */
.welcome_bkg{
    top: 0;
    background-color: #2A587B !important;
    background-image: url('../background/welcome_background.png');
    height: 100vh !important;
    width: 100vw !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-x: hidden !important;
}

.stanbic_logo.right{
    position: relative !important;
    padding-right: 5% !important;
    padding-top: 2% !important;
    width: 150px;
}

.heading_welcome{
    font-size: 70px;
    padding-top: 5% !important;
    font-family: "Roboto Regular";
    color: #FFFFFF;
    padding-left: 4% !important;
}

.content{
    font-size: 20px;
    font-family: "Roboto Light";
    color: #FFFFFF;
    padding-left: 4% !important;
}



  #startButton {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}

/* Login */
.login_bkg{
    top: 0;
    background-color: #FFFFFF !important;
    background-image: url('../background/success_background.png');
    height: 100vh !important;
    width: 100vw !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-x: hidden !important;
}

.heading_login{
    font-size: 70px;
    padding-top: 0% !important;
    font-family: "Roboto Regular";
    color: #2A587B;
    padding-left: 4% !important;
}

.back_arrow{
    color: #2A587B;
    padding-left: 5% !important;
    padding-top: 3% !important;
      
}

i.material-icons.back_arrow{
    font-size: 50px;
}

.content_login{
    font-size: 30px;
    font-family: "Roboto Light";
    color: #2A587B;
    padding-left: 4% !important;
}

.search_account{
    color: #2A587B;
}

i.material-icons.search_account{
    font-size: 45px;
}

/* .account_label{
    font-size: 20px;
} */

.hashtag{
    color: #FFFFFF;
}

.container_homepage{
    margin-bottom: 3% !important;
    margin-left: 85% !important;
}

/* OTP */

.content_otp{
    font-family: "Roboto Light";
    color: #FFFFFF;
    /* padding-left: 4% !important; */
}

.h1{
    padding-top: 10% !important;
    font-size: 27px;
    line-height: 0;
}

.h3{
    font-size: 20px;
    line-height: 0;
}

img.otp{
    position: relative !important;
    width: 80px !important;
    padding-right: 1% !important;
}

.h4{
    font-family: "Roboto Medium";
    color: #939395 !important;
    line-height: 3;
}

.timer{
    line-height: 0 !important;
    font-size: 70% !important;
}

#nextButton {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";  
    
}

#previousButton {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}

#prev{
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light"; 
}

/* .container_otp{
    margin-bottom: 3% !important;
    margin-left: 85% !important;
} */

.container{
    margin-bottom: 3% !important;    
    margin-left: 7% !important;
    margin-right: 7% !important;

}

form#partitioned input[type=text]{
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #FFFFFF;
    margin: 1vh;
    padding: 1vh;
    border-radius: 8px;
  }
  .otp_bkg{
    top: 0;
    background-color: #2A587B !important;
    background-image: url('../background/otp_background.png');
    height: 100vh !important;
    width: 100vw !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-x: hidden !important;
}

/* Available */

.heading_available{
    font-size: 50px;
    padding-top: 5% !important;
    font-family: "Roboto Regular";
    color: #FFFFFF;
    padding-left: 4% !important;
}

.content_available{
    font-size: 30px;
    font-family: "Roboto Light";
    color: #FFFFFF;
    padding-left: 10% !important;
}

.tin_label{
    color: #FFFFFF;
    width: 7% !important;
    /* padding-left: 10% !important; */
   
}

/* .content_available .input-field input {
    color: red !important;
} */

input#tin.validate{
    border-color: #FFFFFF !important;
    font-size: 30px;
}

.tin_input{
    width: 40% !important;
}

.tin_check{
    color: #FFFFFF !important;
    width: 1% !important;
}

i.material-icons.tin_check{
    font-size: 45px;
    
}

.tin{
    padding-left: 20% !important;
    /* text-align: center !important; */
}

/* Question */
.content_question{
    font-size: 30px;
    font-family: "Roboto Light";
    color: #FFFFFF;
    padding-left: 10% !important;
}

/* [type="radio"]:not(:checked) + label::before , 
[type="radio"]:not(:checked) + label::after {
    border: 2px solid #FFFFFF ;
  
} */


    [type="radio"]:not(:checked) + label#no::before , 
    [type="radio"]:not(:checked) + label#no::after {
    border: 2px solid #FFFFFF ;
}

[type="radio"]:not(:checked) + label#not_2::before , 
[type="radio"]:not(:checked) + label#not_2::after {
border: 2px solid #939395 !important ;
}

[type="radio"]:not(:checked) + label#not1_2::before , 
[type="radio"]:not(:checked) + label#not1_2::after {
border: 2px solid #939395 !important ;
}


[type="radio"]:not(:checked) + label#yes::before , 
[type="radio"]:not(:checked) + label#yes::after {
border: 2px solid #FFFFFF  ;
}


.border_color{
    border: 2px solid green  ;
}


[type="radio"]:checked + label#no:after,
[type="radio"].with-gap:checked + label#no:before,
[type="radio"].with-gap:checked + label#no:after {
    border: 2px solid #FFFFFF ;
}

[type="radio"]:checked + label#no:after,
[type="radio"].with-gap:checked + label#no:after {
    background-color: #FFFFFF;
 
}

[type="radio"]:checked + label#not_2:after,
[type="radio"].with-gap:checked + label#not_2:before,
[type="radio"].with-gap:checked + label#not_2:after {
    border: 2px solid #FFFFFF ;
}

[type="radio"]:checked + label#not_2:after,
[type="radio"].with-gap:checked + label#not_2:after {
    background-color: #FFFFFF;
 
}

[type="radio"]:checked + label#not1_2:after,
[type="radio"].with-gap:checked + label#not1_2:before,
[type="radio"].with-gap:checked + label#not1_2:after {
    border: 2px solid #FFFFFF ;
}

[type="radio"]:checked + label#not1_2:after,
[type="radio"].with-gap:checked + label#not1_2:after {
    background-color: #FFFFFF;
 
}


[type="radio"]:checked + label#yes:after,
[type="radio"].with-gap:checked + label#yes:before,
[type="radio"].with-gap:checked + label#yes:after {
    border: 2px solid #FFFFFF;
}

[type="radio"]:checked + label#yes:after,
[type="radio"].with-gap:checked + label#yes:after {
    background-color: #FFFFFF ;
 
}

.content_question label{
    color: #FFFFFF;
}

/* yes_question */

.enter_tin_label{
    color: #FFFFFF;
    width: 20% !important;

   
}

.update_tin_input{
    width: 40% !important;
    color: #FFFFFF;
}

.yes{
    padding-top: 10% !important;
}

.hide{
    display: none !important;
}

.txt{
    font-family: "Roboto Light";
    font-size: 28px !important;
}


#confirmButton{
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #2A587B !important;
    box-shadow: none !important;
    background-color: #FFFFFF !important;
    font-family: "Roboto Light";  
    /* margin-top: 20px !important; */
}

.no{
    padding-top: 4% !important;
    color: #ffffff;
  
}

.content_result{
    padding-top: 15% !important;
}

/* success */

#msg_result{
    color: #2A587B !important;
    font-family: "Roboto Light";
}

#msg{
    color: #2A587B !important; 
    font-family: "Roboto Regular";
    font-size: 60px;
    line-height: 0.5;

}

#nextButton_blue {
    border: 1px solid #2A587B;
    border-radius: 10px !important;
    color: #2A587B !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}

#hashtag{
    background-color: #2A587B;
    font-size: 35px;
    position: fixed;
    margin-left: 0px !important;
    bottom: 0px !important;
    padding: 0.5% !important;
    box-shadow: 10px 10px 18px #888888;
    font-family: "Roboto Regular"
}

/* confirm */
#msg_confirm{
    color: #2A587B !important; 
    font-family: "Roboto Regular";
    font-size: 45px;
    line-height: 0.5;

}

/* .exit_button{
    padding-left: 90% !important;
} */

#updateButton {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}

#prevButton {
    border: 1px solid #FFFFFF;
    border-radius: 10px !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    font-family: "Roboto Light";   
}

.container_question{
    margin-bottom: 3% !important;
    margin-left: 5% !important;
    width: 90% !important;
}
  


