<body class="welcome_bkg">
  <main>
      <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
      <div class="heading_welcome">
          <p>Welcome</p>
      </div>
      <div class="content">
          <p>The <b>T</b>axpayer <b>I</b>dentification <b>N</b>umber <b>(TIN)</b> is a unique number given to taxpayers and potential taxpayers.</p>
          <p>You have been contacted to provide us with your TIN or in an event where you already have one, you can validate the TIN we have in our system.</p>
          <p>Thank you for co-operation.</p>
          <br>
          <p>This process should take a few minutes to complete.<p>
          
      </div>
      
  </main>

  <footer class="page-footer">
    <div class="container">
    </div>
    <div class="footer-copyright">
        <div class="container_question">
              <a class="waves-effect waves-light btn transparent right " (click)="move()" id="startButton">Start</a> 
        </div>
    </div>
</footer>
   
</body>    
