@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 20%;
    }
    .heading_welcome{
        font-size: 30px;
    }
    .content{
        font-size: 17px;
       
    } 
/* 
    .container_homepage{
        margin-left: 70% !important;
    } */

    
 
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 20%;
    }

    .heading_welcome{
        font-size: 30px;
    }

    .content{
        font-size: 17px;

    }

   
    
    
}