<body class="login_bkg">
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />


        <div class="content_result">
            <div class="center">
            <img class="smiley_congratulations center" src="assets/icons/smiley_confirm.png" />
    
                <p id="msg_result">Your TIN will be created soon.</p>
                <h4 id="msg_confirm">THANK YOU FOR YOUR PATIENCE.</h4>
    
            </div>
            
         
            
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container_question">
                <a class="waves-effect waves-light btn transparent right " id="nextButton_blue" routerLink="/welcome">Exit</a> 
            </div>
            <span class="left " id="hashtag" routerLink="/welcome">#BeDigital</span> 
        </div>
    </footer>

    
</body>        