[type="radio"] + label:before, 
[type="radio"] + label:after {
 
    width: 20px !important;
    height: 20px !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    /* display: inline-block; */
       
        font-size: 2rem;

}
@media screen and (max-width: 480px) {
    .stanbic_logo{
        width: 16%;
    }

    .heading_available{
        margin-top: 30px;
        font-size: 30px;
    }

    .txt{
        font-size: 18px !important;
    }

    [type="radio"] + label:before, 
    [type="radio"] + label:after {
    
        width: 15px !important;
        height: 15px !important;
    }

    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        /* display: inline-block; */
        
            font-size: 1.4rem;

    }
    

    
 
}

@media screen and (max-width: 375px) {
    .stanbic_logo{
        width: 16%;
    }

    .heading_available{
        margin-top: 30px;
        font-size: 30px;
    }

    .txt{
        font-size: 18px !important;
    }

    [type="radio"] + label:before, 
    [type="radio"] + label:after {
    
        width: 15px !important;
        height: 15px !important;
    }

    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        /* display: inline-block; */
        
            font-size: 1.4rem;

    }
    
    

   
    
    
}        

