<body class="otp_bkg">
    <main>
        <img class="stanbic_logo right" src="assets/icons/stanbic_logo.png" />
        <div class="heading_available">
            <p>Do you have a TIN?</p>
        </div>

        <div class="content_question">
            <div class="row">
                    <div class="col s6 m6 l6 ">
                        <p class="not1">
                            <input class="with-gap" name="group1" type="radio" id="yes" value = '1' />
                            <label id="yes" for="yes">Yes</label>
                        </p>
                        <p class="not1_2 hide">
                            <input class="with-gap" name="group1" type="radio" id="not1_2" value = '3' />
                            <label id="not1_2" for="not1_2">Yes</label>
                        </p>
                    </div>
                    <div class="col s6 m6 l6 ">
                        <p class="not">
                            <input class="with-gap" name="group1" type="radio" id="no" value = '2' />
                            <label id="no" for="no">No</label>
                        </p> 
                        <p class="not_2 hide">
                            <input class="with-gap" name="group1" type="radio" id="not_2" value= '4' />
                            <label id="not_2" for="not_2">No</label>
                        </p>
                    </div>
            </div>
        </div>
        <div>
                <div class="yes hide">
                    <div class="tin center">
                        <div class="row center">
                            <div class="col s4 enter_tin_label center flow-text">Enter TIN:</div>
                            <div class="col s4 update_tin_input"><input id="tin" name="tin" [(ngModel)]="formData.tin" type="text" class="validate" placeholder="PXXXXXXXXXX"></div>
                        </div>
                    </div>
                </div>

                <div class="no hide">
                    <div class="center">
                        <p class="txt">No problem!</p>
                        <p class="txt">Kindly click confirm so we can create a TIN for you. </p>
                        <a (click)="confirmRequest()"  class="waves-effect waves-light btn btnConf" id="confirmButton" *ngIf="!loader">Confirm</a>
                        <div class="col s12 center-align loading" style="margin-top: 10px !important;" *ngIf="loader">

                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-stanbic-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
            
                        </div>

                    </div>
                </div>
        </div >
        
        
       
        
    </main>

    <footer class="page-footer">
     
        <div class="footer-copyright">
            <div class="container_question">
                <a class="waves-effect waves-light btn transparent left"  id="prevButton"  href="/welcome">PREVIOUS</a>
                <a (click)="updateTin()" class=" update hide waves-effect waves-light btn transparent right "  id="updateButton" >Update</a> 
                <div class="right loader" style="margin-top: 10px !important;" >
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-stanbic-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class=" exit hide  waves-effect waves-light btn transparent right" id="nextButton" href="/welcome">Exit</a>
            </div>
        </div>
        
    </footer>


    

</body>        